<div class="gPager">
    {% if grid.hasPager == true %}
    {% set leftOff = (pager.getPreviousPage) ? 'mgrid-previous-off' : '' %}
    {% set rightOff = (pager.getNextPage == pager.getTotalPages) ? 'mgrid-next-off' : '' %}
        
        {% if pager.getTotalPages > 0 %}
        <span>Page </span>
        <a href="{{ pager.getPreviousUrl }}" class="mgrid-pager-icon mgrid-pager-previous {{ leftOff }}">&gt;</a>

        <select name="page" class="mgrid-pager-select">
            {% for key in 1..pager.getTotalPages %}
                {% set url = pager.getCurUrl(key) %}
                
                {% set selected = '' %}
                {% if pager.getCurPos == key %}
                {% set selected = 'selected="selected"' %}
                {% endif %}
                
                <option value="{{ url }}" {{ selected }}>{{ key }}</option>
            {% endfor %}
        </select>

        <a href="{{ pager.getNextUrl }}" class="mgrid-pager-icon mgrid-pager-next {{ rightOff }}">&gt;</a>
        
        <span> of {{ pager.getTotalPages }} page(s) | </span>
        {% endif %}
<!--        
        <span class="massDelimiter">|</span>
        <span><?php echo $this->translate('View') ?></span>

        <select name="maxPerPage">
            <option value="20">20</option>
            <option value="30">30</option>
        </select>

        <span><?php echo $this->translate('per page') ?></span>
        <span class="massDelimiter">|</span>
-->
    {% endif %}
    <span>Total of {{ pager.getNumRecords }} register(s) found.</span>
</div>